{% extends 'web/base.html' %} 
{% load static %} 
{% block content %}

	<!-- Start main-content -->
	<section class="page-title" style="background-image: url({% static 'web/images/background/page-title.jpg' %});">
		<div class="auto-container">
			<div class="title-outer">
				<h1 class="title">About Us</h1>
				<ul class="page-breadcrumb">
					<li><a href="">Home</a></li>
					
					<li>About</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

<!-- About Section Three -->
<section class="about-section-three pull-down">
    <div class="bg"></div>
    <div class="auto-container">
        <div class="row">
            <div class="content-column col-xl-6 col-lg-7 col-md-12 col-sm-12 order-2 wow fadeInRight" data-wow-delay="600ms">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="sub-title">about the company</span>
                        <h2>Empowering Global Minds,  <br>Building Future  <span class="color3">Leaders</span></h2>
                        <div class="text">Welcome to Edbrowse, a trusted name in the realm of overseas education consultancy with a legacy spanning over 13 years. Our journey began with a vision to empower students to achieve their educational dreams, and today, we stand as a beacon of guidance and support in the field.</div>
                    </div>

            
                    <div class="bottom-box">
                       
                        
                        <a href="{% url 'web:about' %}" class="theme-btn btn-style-one hvr-dark"><span class="btn-title">Explore More</span></a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-xl-6 col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box">
                        <figure class="abs-image"><img src="{% static 'web/images/resource/image-2.png' %}" alt=""></figure>
                        <figure class="image-1 overlay-anim wow fadeInRight"><img src="{% static 'web/images/resource/about-7.jpg' %}" alt=""></figure>
                        <figure class="image-2 overlay-anim wow fadeInRight"><img src="{% static 'web/images/resource/about-8.jpg' %}" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Emd About Section Three -->
	
<!-- Why Choose US -->
<section class="why-choose-us pt-0">
    <div class="bg bg-pattern-1"></div>

    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="sub-title">Why Choose Edbrowse</span>
            <h2>A Consultancy with a <span class="color3">Futuristic Vision</span></h2>
        </div>

        <div class="row">
            <!-- Features Block -->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <i class="icon flaticon-interview"></i>
                    
                    <h6 class="title"><a href="#">13 Years of Experience</a></h6>
                </div>
            </div>

            <!-- Features Block -->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                <div class="inner-box">
                    <div class="content">
                        <i class="icon flaticon-low-cost"></i>
                        
                        <h6 class="title"><a href="#">Dedicated Success Team</a></h6>
                    </div>
                </div>
            </div>

            <!-- Features Block -->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                <div class="inner-box">
                    <div class="content">
                        <i class="icon flaticon-loyalty"></i>
                        
                        <h6 class="title"><a href="#">Worldwide Partnerships</a></h6>
                    </div>
                </div>
            </div>

            <!-- Features Block -->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
                <div class="inner-box">
                    <div class="content">
                        <i class="icon flaticon-online-support"></i>
                        
                        <h6 class="title"><a href="#">End-to-End Assistance</a></h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-text">Over 13 years of dedicated service in the field of overseas education consultancy. <a href="#" class="theme-btn btn-style-two">Discover More</a></div>
    </div>
</section>
<!--Emd Why Choose US -->



{% endblock %}