{% extends 'web/base.html' %} 
{% load static %} 
{% block content %}

<!-- Start main-content -->
<section class="page-title" style="background-image: url({% static 'web/images/background/country3d-scaled.jpg' %});">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Study Abroad Countries</h1>
            <ul class="page-breadcrumb">
                <li><a href="{% url "web:index" %}">Home</a></li>
                <li>Countries</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->

<!-- Section -->
<section>
    <div class="container">
        {% include "web/partials/country.html" %}
</section>
<!-- End Gallery Section -->
{% endblock %}