{% extends 'web/base.html' %} 
{% load static %} 
{% block content %}


	<!-- Start main-content -->
	<section class="page-title" style="background-image: url({{course_detail.cover_image.url}});">
		<div class="auto-container">
			<div class="title-outer">
				<h1 class="title">{{course_detail.course_name}}</h1>
				<ul class="page-breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li>Course</li>
					<li>{{course_detail.course_name}}</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

	<!--Start Services Details-->
	

	<section class="blog-details">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-lg-7">
					<div class="blog-details__left">
	
						<div class="blog-details__img">
							<img src="{{course_detail.cover_image.url}}" alt="">
						</div>

						<div class="blog-details__content">
							<h2 class="mt-4">{{course_detail.course_name}}</h2>
							
							<div class="content">{{course_detail.content|safe}}</div>
						</div>
	
					</div>
				</div>
				<div class="col-xl-5 col-lg-5">
					<div class="sidebar">
						
						<div class="sidebar__single sidebar__post">
							<h3 class="sidebar__title">Enquiry Form</h3>
							<!-- Contact Form -->
							<form id="contact_form" name="contact_form" class="form course" method="post">
								{% csrf_token %}
								<div class="row">
									<div class="col-sm-6">
										<div class="mb-3">
											{{ form.full_name }}
										</div>
									</div>
									<div class="col-sm-6">
										<div class="mb-3">
											{{ form.email }}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="mb-3">
											{{ form.phone }}
										</div>
									</div>
								</div>
							
								<div class="row">
									<div class="col-sm-12">
										<div class="mb-3">
											{{ form.current_education }}
										</div>
									</div>
									<div class="col-sm-12">
										<div class="mb-3">
											{{ form.intended_study_abroad }}
										</div>
									</div>
									<div class="col-sm-12">
										<div class="mb-3">
											{{ form.area_of_study_interest }}
										</div>
									</div>
								</div>
							
								<div class="row">
									<div class="col-sm-12">
										<div class="mb-3">
											{{ form.preferred_country }}
										</div>
									</div>
									<div class="col-sm-12">
										<div class="mb-3">
											{{ form.preferred_university_or_region }}
										</div>
									</div>
									<div class="col-sm-12">
										<div class="mb-3">
											{{ form.intended_course_of_study }}
										</div>
									</div>
								</div>
							
								<div class="row">
									<div class="col-sm-12">
										<div class="mb-3">
											{{ form.language_proficiency }}
										</div>
									</div>
									<div class="col-sm-12">
										<div class="mb-3">
											{{ form.standardized_tests_taken }}
										</div>
									</div>
									<div class="col-sm-12">
										<div class="mb-3">
											{{ form.financial_consideration }}
										</div>
									</div>
								</div>
							
								<div class="row">
									<div class="col-sm-6">
										<div class="mb-3">
											{{ form.message }}
										</div>
									</div>
									<div class="col-sm-6">
										<div class="mb-3">
											{{ form.source }}
										</div>
									</div>
								</div>
							
								<div class="mb-3">
									<button type="submit" class="theme-btn btn-style-one" data-loading-text="Please wait..."><span class="btn-title">Submit</span></button>
								</div>
							</form>
						<!-- Contact Form Validation-->
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Services Details-->



{% endblock %}