{% load static %}
<!-- Why Choose US -->
<section class="why-choose-us pt-0">
  <div class="bg bg-pattern-1"></div>

  <div class="auto-container">
    <div class="sec-title text-center">
      <span class="sub-title">Why Choose Edbrowse</span>
      <h2>A Consultancy with a <span class="color3">Futuristic Vision</span></h2>
    </div>

    <div class="row">
      <!-- Features Block -->
      <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
        <div class="inner-box">
          <i class="icon flaticon-interview"></i>

          <h6 class="title"><a href="#">13 Years of Experience</a></h6>
        </div>
      </div>

      <!-- Features Block -->
      <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
        <div class="inner-box">
          <div class="content">
            <i class="icon flaticon-low-cost"></i>

            <h6 class="title"><a href="#">Dedicated Team</a></h6>
          </div>
        </div>
      </div>

      <!-- Features Block -->
      <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
        <div class="inner-box">
          <div class="content">
            <i class="icon flaticon-loyalty"></i>

            <h6 class="title"><a href="#">Worldwide Partnerships</a></h6>
          </div>
        </div>
      </div>

      <!-- Features Block -->
      <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
        <div class="inner-box">
          <div class="content">
            <i class="icon flaticon-online-support"></i>

            <h6 class="title"><a href="#">End-to-End Assistance</a></h6>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-text">
      Over 13 years of dedicated service in the field of overseas education consultancy. <a href="{% url 'web:contact' %}" class="theme-btn btn-style-four">Enquiry Now</a>
    </div>
  </div>
</section>
<!-- Emd Why Choose US -->
